<div class="container-fluid">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <%= render 'common/left' %>

      <div class="col-md-9" style="letter-spacing: 1px;">

        <div class="col-md-12">

          <div class="aboutline"></div>
          <h3>
            <strong>NEWS</strong>
          </h3>

          <br>

          <div class="row">

            <div class="col-md-8">
              <div class="pull-left">

                <h4>GManage risks to stay relevant</h4>

              </div>
            </div>

            <div class="col-md-4">
              <div class="pull-right">

                <h5>Posted : 17/03/2016</h5>

              </div>
            </div>

          </div>

          <br>

          <div class="row">

            <div class="col-md-3">
              <div class="pull-left">
                <%= image_tag ("sumi_special_projects-spring-united_oil-jacky_tan-4_adopting_best_practices 150x225.jpg") %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <p>In the second of a three-part series on capability development, April Chong speaks to an SME and an industry expert from the SME Capabilities Series of events about their views on growing new markets.</p>
              </div>
            </div>

          </div>



          <br>

        <%= link_to " << Back", news_example_path, class: "btn btn-link" %>

        </div>

      </div>
    </div>
  </div>
</div>

<br>
<br>
