<div class="container-fluid">
  <div class="row">
    <div style="display:block;text-align: center">
      <%= image_tag ("1386128118_Banner Coy Profile.jpg"),style:"width:952;height:auto;left:0;" %>
    </div>

    <br>

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render "common/left" %>

      <div class="col-md-9" style="letter-spacing: 1px;padding: 0px;">
        <br>
        <%= image_tag ("company-profile.jpg") %>

        <br>
        <br>

        <div class="aboutline"></div>
        <h3>
          ABOUT US
        </h3>

        <p>
          United Oil Company Pte Ltd is a lubricants manufacturer producing high quality, well engineered lubricant products. Headquartered in Singapore, our team of professionals serves our customers in the Asia Pacific region. Products are manufactured in our Lube Oil Blending Plants (LOBP) which are designed with flexibility to customize to customer requirements and we are equipped with a modern laboratory for quality assurance. Our services include customer, technical & logistics support, formulation development and laboratory analysis.
        </p>
        <p>
          Our accessible facilities include base oil storages of nearly 6 & 20 million litres based in Singapore and Indonesia (near Jakarta) tank farms respectively. These storages feed two blending plants of over 100 Million Litres / year each in capacity and they are equipped with a full range of filling lines from small packs (0.2L) to 4/5 / 6L, Pails, Drums, IBCs and Bulk Loading Stations.
        </p>
        <p>
          We are licensed by EOLCS of the American Petroleum Institute (API) and our products are endorsed by major OEMS such as Cummins, MTU, Volvo, Volkswagen, Diamler AG, Porsche etc. Our business and production processes have also been awarded ISO 9001.
        </p>

        <br>

        <div class="aboutline"></div>
        <h3>
          VISION AND MISSION
        </h3>
        <h5>
          Vision
        </h5>
        <ul>
          <h5>
            A reputable international lubricant brand chosen for its Performance, Value & Reliability.
          </h5>
        </ul>
        <h5>
          Mission
        </h5>
        <p>
          <ol>
            <li>The products- To make high performance, quality & reliable products that offer value for money.</li>
            <li>The sales - To increase sales from satistied customers.</li>
            <li>The services - To meet customer needs with customize services.</li>
            <li>The human resource - To run the organisation with a professtional & responsive team.</li>
          </ol>
        </p>

        <br>

        <div class="aboutline"></div>
        <h3>
          VALUES ​​AND PHILOSOPHY
        </h3>
        <p>
          WE believe in Reliably providing our customers with good performance products at a price Level considered as 'Value for Money' . with today's technology developing rapidly requiring engineering performing lubricants, WE are committed to meet industry demands with a range of products that is technology led. Giving our customers 'Value for Money' continues to be our company's core value. This enables our customers to be more competitive using the full set of benefits from our competitively priced products. In addition to producing our range of United Oil's brand of lubricants, we also provide contract blending services for private labels and supply high quality base oils and additives to our associates.
        </p>
        <p>
          We believe that more important to this hardware is our people who are responsive to our customer needs and are willing to customise our services. We believe in strong win-win partnerships with our suppliers and customers. We are committed to creating for our staff a working environment that improves continuously and is innovative.
        </p>
        <h5>
          Company Philosophy and Strengths
        </h5>
        <ul>
          <li><strong>Innovation</strong> - Always on the lookout for emerging technologies and new materials to stay ahead.</li>
          <li><strong>Continuous Improvement</strong> - Dedicated to R & D.</li>
          <li><strong>Flexibility</strong> - Prompt & responsive in meeting customer needs.</li>
          <li><strong>Form Alliance with Customers</strong> -  Understand and work with customers to provide customised services.</li>
          <li><strong>High Quality Standards of Products & Services</strong> -  Decrease downtime, extend life of major capital assets and reduce cost associated with heavy fleet and equipment maintenance.</li>
          <li><strong>Total Customer Support</strong> -  Experience team of professionals offering product selection, product knowledge, training and logistics support.</li>
        </ul>

        <br>
        <br>

      </div>
    </div>
  </div>
</div>
