
<%= render "carousel" %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <br>

      <div style="position:absolute;
        background: #990000;
        top: 5%;
        left: 33px;
        width: 12%;
        height: 4px;
        content:" ";"></div>

      <div class="page-header">

        <h4>WE ARE SPECIALISTS WITH THE WIDEST RANGE OF PRODUCTS</h4>

        <p>United Oil is a leading lubricant supplier in the region known for reliability in delivering products that is value for money.  Strategically located in Singapore, we are dynamic, innovative and focused on customer requirements.  Come and experience how our lubricants give you improved performance and prolonged life by cleaning and protecting your equipment.</p>
      </div>

      <br>

      <br>

      <%= render "thumbnails" %>

      <br>

      <br />

    </div>
  </div>
</div>

<br>

<br>

