
<%= render "carousel" %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <br>

      <div class="page-header">

        <div class="aboutline"></div>

        <h4 style="padding-top: 15px;"><strong>WE ARE SPECIALISTS WITH THE WIDEST RANGE OF PRODUCTS</strong></h4>

        <p>United Oil is a leading lubricant supplier in the region known for reliability in delivering products that is value for money.  Strategically located in Singapore, we are dynamic, innovative and focused on customer requirements.  Come and experience how our lubricants give you improved performance and prolonged life by cleaning and protecting your equipment.</p>

        <br>

        <div class="aboutline"></div>

        <h4 style="padding-top: 15px; text-transform: uppercase;"><strong>Kombucha tattooed yr, beard readymade disrupt</strong></h4>

        <p>PBR&B you probably haven't heard of them street art photo booth meggings neutra. Venmo banh mi helvetica 90's celiac, typewriter squid stumptown seitan food truck etsy craft beer. Sriracha organic literally everyday carry lo-fi. Forage church-key portland freegan YOLO blog, echo park four dollar toast. Cronut celiac offal dreamcatcher, hella sartorial man braid VHS. IPhone mumblecore stumptown, pitchfork narwhal blog tote bag deep v schlitz taxidermy. Normcore viral offal tacos chia, truffaut intelligentsia pop-up marfa jean shorts.</p>

        <br>

      </div>

      <br>

      <%= render "thumbnails" %>

      <br>

      <br />

    </div>
  </div>
</div>

<br>

<br>

