<section class='footer'>
  <div class="row">

      <nav class="navbar navbar-default navbar-static-bottom footer1">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-3">
            <h4 class="text-left">ABOUT US</h4>
            <br>
            <p class="text-left about1"><%= link_to "Who We Are", "#" %></p>
            <p class="text-left about2"><%= link_to "Contact Us", "#" %></p>
          </div>
          <div class="col-md-5">
            <h4 class="text-left">VONOX OIL</h4>
            <br>
            <p class="text-left">Vinyl migas poutine banjo direct trade, everyday carry freegan biodiesel butcher forage beard etsy. Heirloom brunch banh mi, readymade ethical kale chips offal paleo fap tumblr. </p>
          </div>
          <div class="col-md-4">
            <h4 class="text-left">OEM CERTIFICATE APPROVAL</h4>
          </div>
        </div>
      </nav>

  </div>
</section>

<section class="footer">
  <div class="row">
    <nav class="navbar-default navbar-static-bottom footer2">
      <div class="col-md-12 last">
        <p>Copyright © 2016. All Rights Reserved.</p>
      </div>
    </nav>
  </div>
</section>
