<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <p>Hammock seitan cliche raw denim selvage, truffaut fap kickstarter banh mi keytar bicycle rights narwhal YOLO.</p>
    <p>Vinyl migas poutine banjo direct trade, everyday carry freegan biodiesel butcher forage beard etsy. Heirloom brunch banh mi, readymade ethical kale chips offal paleo fap tumblr. </p>
  </div>
</nav>
